@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


//  Some main colors that I used
:root {
    --gray :#E9E9E9;
    --Not-black :#0a0a0a;
    --black :black;
    --blue: rgb(0, 58, 105);
    // fonts color
    --not-gray:#000000c9;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

img{ width: 100%;}

.nav-container{
    background-color: #141414;
    a{
        color: white;
    }
}

// #header
header{
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #FBFAFA;
        font-weight: bold;
        font-size: 20px;
    }

   ul{
       display: flex;
       a {
           display: block;
           padding: 0 .8em;
           color: var(--gray);
       }
   }
}

.social-header, .hero-design{
    display: none;
}

//start the big svg design in the 2nd section
.hero{
    background: black;
    color: white;
    display: grid;
    text-align: center;
    padding: 3em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 250px;
    // font-weight: bold;
    color: var(--gray);
    span, p {
        margin-top: 1em;
        margin-right: .5em;
    }
}

.scroll{
    width: 30px;
    margin-top: 2em;
}

section {
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;
}
.featured ::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--gray);
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blue);
    letter-spacing: .3em;
    font-size: 15px;
    stroke: white;
}

.featured-title{
    color: var(--black);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: .9em;
    letter-spacing: .1em;
    display: block;
}

.featured-desc{
    margin-top: 1em;
    color: var(--not-gray);
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

// skills section
.skills{
    background: var(--gray);
    padding: 4em 2em;
}
.skills-container ul li{
    background: var(--black);
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, .3);

    p{
        color: var(--gray);
    }
    .skill-title{
        color: white;
        font-weight: bold;
    }

    .icon-container{
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;
        color: red;
        &.one{
            width: 55px;
        }
        &.two{
            width: 140px;
        }
        &.three{
            width: 90px;
        }
    }

    .featured-desc{
        margin-bottom: 2em;
    }

}

// Portfolio section
.portfolio{
    background: #fcfafa;
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

// # Start Media Query
@media only screen and (min-width: 800px){

    .featured, .portfolio{
        text-align:  left;
    }
    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .portfolio-left{
        display: grid;
        place-content: center;
    }

    .right{
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

    .portfolio{
        padding-top: 7em;
    }

    .portfolio-container img{
        margin-left: 2em;
    }
}

// 2nd medai query secition
@media only screen and (min-width: 1050px){
    .hero{
        height: 90vh;
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background:  unset;

        header{
            background: var(--Not-black);
        }
    }

    header{
        padding: 2em 2em 2em 0;
    }

    .social-header{
        padding: 2em 4em 2em 0;
    }

    section{
        padding: 4em;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content:  space-between;
            width: 7em;
            float: right;

            img{
                width: 20px;
            }
        }
    }

    .hero{
        display: grid;
        grid-template-columns:  66% auto;
        background:  unset;
        padding: 0;

        .content{
            background: var(--black);
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .meet{
        margin: unset;
    }

    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img{
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px){
    header{
        padding: 2em 2em 2em 10em;
    }

    .social-header{
        padding: 2em 10em 2em 0;
    }

    .skills{
        padding: 10em 10em 4em 10em;
    }
    section{
        padding: 10em 10em 4em 10em;
    }

    .hero .content{
        padding: 6em 8em 6em 10em;
    }
    .right{
        margin-left: 0em;
        margin-top: 0em;
    }
}

@media only screen and (min-width: 1550px){
    header{
        padding: 2em 2em 2em 20em;
    }

    .social-header{
        padding: 2em 20em 2em 0;
    }

    // .skills{
    //     padding: 10em 10em 4em 10em;
    // }
    section{
        padding: 6em 20em 4em 20em;
    }

    .hero .content{
        padding: 9em 20em 6em 20em;
    }
    .right{
        margin-left: 0em;
        margin-top: 0em;
    }
}